@using WebMVC.Models.Book;
@model SearchBookListViewModel

<style>
    body {
        font-family: Arial, sans-serif;
    }

    .book-container {
        margin-bottom: 20px;
        border: 1px solid #ddd;
        padding: 15px;
        border-radius: 5px;
    }

    .book-title {
        color: #333;
        font-size: 24px;
    }

    .book-description {
        color: #666;
    }

    .genre, .author {
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-top: 1px solid #eee;
    }

    .genre-name, .author-name {
        font-weight: bold;
        color: #444;
    }
</style>



@{
    await Html.RenderPartialAsync("BookSearchBox", new WebMVC.Models.Book.BookSearchViewModel());
}

@if (Model.Books.Any())
{
    @foreach (var item in Model.Books)
    {
        <div class="book-container">
            <h1 class="book-title">@item.Title</h1>
            <p class="book-description">@item.Description</p>

            <p>Genres</p>
            @if (item.Genres != null && item.Genres.Any())
            {
                foreach (var genre in item.Genres)
                {
                    <div class="genre">
                        <p class="genre-name">@genre.Name</p>
                    </div>
                }
            }

            <p>Authors</p>
            @if (item.Authors != null && item.Authors.Any())
            {
                foreach (var author in item.Authors)
                {
                    <div class="author">
                        <p class="author-name">@author.Name</p>
                    </div>
                }
            }
        </div>
    }

    <!-- Pagination -->
    <div class="pagination">
        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            <a asp-action="Search"
               asp-route-page="@i"
               asp-route-query="@Model.SearchCriteria.Query"
               asp-route-searchIn="@Model.SearchCriteria.SearchIn"
               class="@(i == Model.CurrentPage ? "active" : "")">@($" {i}, ")</a>
        }
    </div>
}
else
{
    <p>No books found.</p>
}